.main {
font-size: 1.6rem;
padding-top: 3rem;
padding-bottom: 3rem;

&_title {
	font-size: 3.2rem;
	font-weight: 700;
	margin-bottom: 2rem;
}

	&__content {
		max-width: 600px;

		p:not(:last-child) {
			margin-bottom: 1rem;
		}
	}

}