section.main.container 
	h2.main__title About me 
	.main__content 
	p.main__text Hello everyone! My name is Sergey Pavlovich. I am 28 years old. I from belarus and i live in Minsk. In the past i was borderguard officer.
	p.main__text In june 2016, i graduate 
		a.main__link(href="https://ips.gpk.gov.by/", target="_blank", rel="noopener noreferrer") Institute of Border Guard.
	p.main__text In may 2022, i graduate the IT Shatle courses (HTML/CSS), and now i am learn JavaScript and React.
	p.main__text I have a dream to become Junior Frontend Developer soon.
	


	

	