section.main.container 
	h2.main__title About me 
	.main__content 
	p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore, praesentium. Blanditiis, sunt molestias. Animi ratione minus ipsam illo non commodi, fuga explicabo delectus expedita, veritatis quisquam cumque voluptas accusamus voluptatem?
	p Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere dolores numquam officia natus minus praesentium ex aliquid consequuntur possimus dolor distinctio itaque nisi soluta adipisci, minima fuga voluptas? Debitis, vero!