include ../mixins/work.pug

section.main.container 
	h2.main__title My works
	.works
		+work({
		link: 'https://helentr7.github.io/portfolio_group/',
		img: "./assets/imgs/work1.png",
		tech: 'Techs: HTML, CSS',
		time: 'Time: 8 hours'
		})
		+work({
		link: 'https://helentr7.github.io/portfolio_group/',
		img: "./assets/imgs/work1.png",
		tech: 'Techs: HTML, CSS',
		time: 'Time: 8 hours'
		})
		+work({
		link: 'https://helentr7.github.io/portfolio_group/',
		img: "./assets/imgs/work1.png",
		tech: 'Techs: HTML, CSS',
		time: 'Time: 8 hours'
		})
		+work({
		link: 'https://helentr7.github.io/portfolio_group/',
		img: "./assets/imgs/work1.png",
		tech: 'Techs: HTML, CSS',
		time: 'Time: 8 hours'
		})