include ../mixins/work.pug

section.main.container 
	h2.main__title My works
	.works
		+work({
		link: 'https://sergey5471.github.io/RayalPark/',
		img: "./assets/imgs/rayal.png",
		tech: 'Techs: HTML, CSS',
		time: 'Time: 10 hours'
		})
		+work({
		link: 'https://sergey5471.github.io/LocusDesign_landing/build/',
		img: "./assets/imgs/locus.png",
		tech: 'Techs: HTML, CSS',
		time: 'Time: 11 hours'
		})
		